    /* Universal style */
    *{
        padding: 0px;
        margin: 0;
    }

    /* video style */
    /* .glitterBG {
        width: 100%;
        height: 30%;
        position: absolute;
        z-index: -1;
        top:0;
        left:0;
        object-fit: cover;
    } */

    /* Header position and size */
    header{
        /* width: 100%; */
        top: 0px;
        height: 150%;
        display: flex;
        position: relative;
        padding:30px;
        flex-direction: column;
        background:#c286cb62;
        /* border: solid grey 5px; */
    }

    
/* stayling first title */
    h1{
        display:block;
        top:20px;
        text-align: left;
        font-family:'Luminari', 'fantasy','URW Chancery L','Snell Roundhand','Apple Chancery', 'cursive';
        font-style: italic  ;
        /* 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        font-size: 65px;
    }
    
/* stayling second title */    
    h2{
        position:relative;
        display:flex;
        justify-content: flex-end;
        right:0;
        font-size: 30px;
        padding-top: 20px;
        bottom: 0%;
        /* align-items: flex-end; */
    }

/* Making nav bar do not overlap     */
    nav{
        display: inline-block; 
        position: relative;
        right:0;
        /* padding: 10px; */
        font-size: 30px;
    }

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        
    }
    
    li{
        list-style-type:none;
        padding-left:20px;
        font-weight: bold;
        /* color:black; */
    }

/* removing decoration from nav bar links and changing ugly blue*/
    a{
    text-decoration: none;
    color: #8d389e;
    }

/*making nice effect on link hover  */
    a:hover{
        text-decoration: none;
        color: #c639e2;
        font-style:italic;
    }

   /*stayling side titles  */
    h3{
        text-align: right;
        width:30%;
        /* background-color: aquamarine; */
        /* border:solid blue 5px; */
        padding: 20px;
        font-style: italic;
        /* flex-grow: 30%; */
        /* flex-basis: auto; */
        border-right: solid rgb(194, 134, 203) 15px;
    }

/* stayling each section  */
    .section{
        display: flex;
        padding-top: 30px;
        font-size: 20px;
        /* flex-direction: column; */
        width: 100%;
        margin-bottom: 20px;

    }
    
/* using 100% width for each section */
    .section div {
        /* display: flex;
        padding: 30px;
        font-size: 20px; */
        /* flex-direction: column; */
        width: 100%;
    }
    
    /* separating paragraph from side title */
    p{
        padding: 10px;
        /* text-align: justify; removed because wave doesnt like it */
    }
 

    /* styling images title links */
    #work a{
        text-decoration: none;
        color: black;
        font-style:bold;
        
    }

    
    /* cool effect on image title link when hover */
    #work a:hover{
        text-transform: uppercase;
       background-image: linear-gradient(
         -225deg,
         #231557 0%,
         #44107a 29%,
         #f700ff 67%,
         #f6f0e3 100%
       );
       background-size: auto auto;
       background-clip: border-box;
       background-size: 200% auto;
       color: #fff;
       background-clip: text;
       /* text-fill-color: transparent; */
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation: textclip 2s linear infinite;
       display: inline-block;
      font-size: 30px;
     }
     
  
    @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }


    .container{
        display: flex;
        flex-direction: column;
        /* border:solid magenta 5px; */
        /* align-items: center; */
        justify-content: space-evenly;
        width: 100%;
    
    } 
    

    /* styling first big image */
    .first{
        width: 100%;
        /* display:flex; 
        flex-wrap: wrap; */
        /* border: solid orange 6px;  */
        position: relative;
        /* justify-content: space-evenly; */
        align-content: center;
        }


    .first div{
        width: 100%;
        left:70px;
        justify-content: right;
        /* border: solid green 6px;  */
        align-content: center;
        margin-right: 50px;
       
    }

    /* styling second section of 4 images */
    .second {
        width: 100%; 
        display:flex; 
        flex-wrap: wrap;
        position: relative;
        /* flex-direction: row; */
        /* border: solid orangered 6px;  */
    }
    
    .second div {
        /* padding: 0px; */
        width: 44%; 
        margin:2%;
        display:flex; 
        flex-wrap: wrap;
        position: relative;
        flex-direction: row;
        /* border: solid grey 6px;  */
        justify-content: space-evenly;
    }
    

    /* styling images */
    .first img{
        position: relative;
        /* border: solid mediumslateblue 6px; */
        /* align-items: center; */
        /* justify-content: space-evenly; */
        width: 100%;
        padding:30px;
        /* height: 50%; */
    }

    .second img{
        width: 100%;
        height:100%;
        position: relative;
        /* margin:10px; */
        /* position: ; */
        /* align-items: center;  */
    } 

    /* styling titles over images */
    .section h4{
        position: absolute;
        bottom: 60px;
        width: 100%;;
        text-align: center;
        /* color:black; */
        text-decoration: none;
        background: rgba(255, 235, 205, 0.522);
        box-shadow: 30%;
        border:solid blanchedalmond 4px;
        padding: 10px;
    }

    /* styling footer */
    footer{
        text-align: center;
        font-size: 30px;
        font-style: italic;
        border-top: solid lightslategrey 4px;
        margin-top: 20 px;
        padding-top: 30px;
        background:#c286cb62;
    }


    /* setting up responsive CSS */
    @media screen and (max-width: 768px) {
        header,
        main,
        nav,.second {
          flex-direction: column;
        }
        .second h4{
            padding: 3px;
            font-size: 15px;
        }
      }
      
      #avatar{
        width: 100px;
        /* height: 100px; */
        border-radius: 50px;
        margin-right: 20px;
      }
      .name{
        display: inline-flex;
        /* justify-content: center; */
        align-items: center;
      }